resilience4j:
  circuitBreaker:
    configs:
      default:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 2s
        .slow-call-rate-threshold: 50
    instances:
      products:
        base-config: default
  timelimiter:
    configs:
      default:
        timeout-duration: 4s
    instances:
      products:
        base-config: default

spring:
  cloud:
    gateway:
      routes:
        - id: msvc-products
          uri: lb://msvc-products
          predicates:
            - Path=/api/products/**
            #- Header=token, /d+
            #- Method=GET, POST
            #- Query=color
            #- Cookie=color, blue
            #- Header=Content-Type, application/json
          filters:
            - name: CircuitBreaker
              args:
                name: products
                statusCodes: 500
                fallbackUri: forward:/api/items/5
            - StripPrefix=2
            - SampleCookie=cookie personalizada, user, sebastian
        - id: msvc-items
          uri: lb://msvc-items
          predicates:
            - Path=/api/items/**
          filters:
            - StripPrefix=2
            - AddRequestHeader=token-request, asdasdas
            - AddResponseHeader=token-response, 1231231
            - AddRequestParameter=name, sebastian
            #- SetResponseHeader=Content-Type, text/plain